.pixels-footer {
  position: absolute;
  bottom: 5px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: $color-platinum;
  text-align: center;
  font-size: 12px;
}
