$color-platinum: #e5e4e2;
$color-gold: #d4af37;
$color-silver: #c0c0c0;
$color-black: #212121;

.pixels-color-platinum {
  color: $color-platinum;
}

.pixels-color-gold {
  color: $color-gold;
}

.pixels-color-silver {
  color: $color-silver;
}

.pixels-color-black {
  color: $color-black;
}
